<ng-container *ngIf="state$ | async as s">
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header"
      ><span class="mr-2">Listings</span>
      <p-badge [value]="s.listings.length.toString()"></p-badge>
    </ng-template>
    <p-tabView>
      <p-tabPanel header="Calls" leftIcon="pi pi-arrow-circle-up">
        <p-table
          [loading]="s.isLoadingListings"
          [value]="s.listingsCalls"
          responsiveLayout="scroll"
          styleClass="p-datatable-sm"
          selectionMode="single"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Stake</th>
              <th>Value</th>
              <th>Change</th>
              <th>Strike</th>
              <th>Duration</th>
              <th>Vdot</th>
              <th>Vi</th>
              <th>Gas/Day</th>
              <th>Gas collateral</th>
              <th>Safe</th>
              <th>Status</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-token>
            <tr>
              <td>{{ token.tokenId }}</td>
              <td>
                <div class="flex align-items-center">
                  {{ token.stake / 1000000000 | number: '1.0-0' }}
                  <img src="assets/images/candy.png" height="20" class="ml-2" />
                </div>
              </td>
              <td>
                <div class="flex align-items-center">
                  {{ token.realValue / 1000000000 | number: '1.0-0' }}
                  <img src="assets/images/candy.png" height="20" class="ml-2" />
                </div>
              </td>
              <td>
                <div
                  *ngIf="token.startValue < token.realValue; else minus"
                  class="positive-change"
                >
                  +{{
                    ((token.realValue - token.startValue) / token.startValue) *
                      100 | number: '1.2-2'
                  }}%
                </div>
                <ng-template #minus>
                  <div class="negative-change">
                    -{{
                      ((token.startValue - token.realValue) /
                        token.startValue) *
                        100 | number: '1.2-2'
                    }}%
                  </div>
                </ng-template>
              </td>
              <td>${{ token.strike / 100000000 | number: '1.2-2' }}</td>
              <td>
                {{ token.minRentInMinutes / 60 / 24 }} -
                {{ token.maxRentInMinutes / 60 / 24 }} days
              </td>
              <td>{{ token.vdot }}</td>
              <td>{{ token.vi }}</td>
              <td>{{ token.gasPerMinute * 60 * 24 | number: '1.2-2' }}</td>
              <td>{{ token.collateral }}</td>
              <td>
                <span
                  [ngClass]="token.safe ? 'pi pi-check' : 'pi pi-times'"
                ></span>
              </td>
              <td>
                <p-tag
                  [value]="token.status"
                  [severity]="
                    token.status === 'ONGOING'
                      ? 'success'
                      : token.status === 'EXERCISED'
                      ? 'danger'
                      : ''
                  "
                ></p-tag>
              </td>
              <td>
                <span
                  *ngIf="token.status !== 'ONGOING'"
                  class="pi pi-trash negative-change cursor-pointer"
                  (click)="cancelListing(token.tokenId)"
                ></span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="12">
                <div class="p-1">
                  Could not find rented call NFTs for this account.
                </div>
              </td>
            </tr>
          </ng-template></p-table
        ></p-tabPanel
      >
      <p-tabPanel header="Puts" leftIcon="pi pi-arrow-circle-down">
        <p-table
          [loading]="s.isLoadingListings"
          [value]="s.listingsPuts"
          responsiveLayout="scroll"
          styleClass="p-datatable-sm"
          selectionMode="single"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Stake</th>
              <th>Value</th>
              <th>Change</th>
              <th>Strike</th>
              <th>Duration</th>
              <th>Vdot</th>
              <th>Vi</th>
              <th>Gas/Day</th>
              <th>Gas collateral</th>
              <th>Safe</th>
              <th>Status</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-token>
            <tr>
              <td>{{ token.tokenId }}</td>
              <td>
                <div class="flex align-items-center">
                  {{ token.stake / 1000000000 | number: '1.0-0' }}
                  <img src="assets/images/candy.png" height="20" class="ml-2" />
                </div>
              </td>
              <td>
                <div class="flex align-items-center">
                  {{ token.realValue / 1000000000 | number: '1.0-0' }}
                  <img src="assets/images/candy.png" height="20" class="ml-2" />
                </div>
              </td>
              <td>
                <div
                  *ngIf="token.startValue < token.realValue; else minus"
                  class="positive-change"
                >
                  +{{
                    ((token.realValue - token.startValue) / token.startValue) *
                      100 | number: '1.2-2'
                  }}%
                </div>
                <ng-template #minus>
                  <div class="negative-change">
                    -{{
                      ((token.startValue - token.realValue) /
                        token.startValue) *
                        100 | number: '1.2-2'
                    }}%
                  </div>
                </ng-template>
              </td>
              <td>${{ token.strike / 100000000 | number: '1.2-2' }}</td>
              <td>
                {{ token.minRentInMinutes / 60 / 24 }} -
                {{ token.maxRentInMinutes / 60 / 24 }} days
              </td>
              <td>{{ token.vdot }}</td>
              <td>{{ token.vi }}</td>
              <td>{{ token.gasPerMinute * 60 * 24 | number: '1.2-2' }}</td>
              <td>{{ token.collateral }}</td>

              <td>
                <span
                  [ngClass]="token.safe ? 'pi pi-check' : 'pi pi-times'"
                ></span>
              </td>
              <td>
                <p-tag
                  [value]="token.status"
                  [severity]="
                    token.status === 'ONGOING'
                      ? 'success'
                      : token.status === 'EXERCISED'
                      ? 'danger'
                      : ''
                  "
                ></p-tag>
              </td>
              <td>
                <span
                  *ngIf="token.status !== 'ONGOING'"
                  class="pi pi-trash negative-change cursor-pointer"
                  (click)="cancelListing(token.tokenId)"
                ></span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="12">
                <div class="p-1">
                  Could not find listed put NFTs for this account.
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </p-panel>

  <!-- RENTINGS -->
  <br />

  <p-panel [toggleable]="true">
    <ng-template pTemplate="header"
      ><span class="mr-2">Rentals</span>
      <p-badge [value]="s.rentals.length.toString()"></p-badge>
    </ng-template>
    <p-tabView>
      <p-tabPanel header="Calls" leftIcon="pi pi-arrow-circle-up">
        <p-table
          [loading]="s.isLoadingOwned"
          [value]="s.ownedCalls"
          responsiveLayout="scroll"
          selectionMode="single"
          styleClass="p-datatable-sm"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Stake</th>
              <th>Value</th>
              <th>Change</th>
              <th>Strike</th>
              <th>Duration</th>
              <th>Vdot</th>
              <th>Vi</th>
              <th>Gas/Day</th>
              <th>Gas collateral</th>
              <th>Safe</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-token>
            <tr>
              <td>{{ token.tokenId }}</td>
              <td>
                <div class="flex align-items-center">
                  {{ token.stake / 1000000000 | number: '1.0-0' }}
                  <img src="assets/images/candy.png" height="20" class="ml-2" />
                </div>
              </td>
              <td>
                <div class="flex align-items-center">
                  {{ token.realValue / 1000000000 | number: '1.0-0' }}
                  <img src="assets/images/candy.png" height="20" class="ml-2" />
                </div>
              </td>
              <td>
                <div
                  *ngIf="token.startValue < token.realValue; else minus"
                  class="positive-change"
                >
                  +{{
                    ((token.realValue - token.startValue) / token.startValue) *
                      100 | number: '1.2-2'
                  }}%
                </div>
                <ng-template #minus>
                  <div class="negative-change">
                    -{{
                      ((token.startValue - token.realValue) /
                        token.startValue) *
                        100 | number: '1.2-2'
                    }}%
                  </div>
                </ng-template>
              </td>
              <td>${{ token.strike / 100000000 | number: '1.2-2' }}</td>
              <td>
                {{ token.minRentInMinutes / 60 / 24 }} -
                {{ token.maxRentInMinutes / 60 / 24 }} days
              </td>
              <td>{{ token.vdot }}</td>
              <td>{{ token.vi }}</td>
              <td>{{ token.gasPerMinute * 60 * 24 | number: '1.2-2' }}</td>
              <td>{{ token.collateral }}</td>

              <td>
                <span
                  [ngClass]="token.safe ? 'pi pi-check' : 'pi pi-times'"
                ></span>
              </td>
              <td>
                <span
                  class="pi pi-eject positive-change cursor-pointer"
                  (click)="exercise(token.tokenId)"
                ></span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="12">
                <div class="p-1">
                  Could not find rented call NFTs for this account.
                </div>
              </td>
            </tr>
          </ng-template></p-table
        ></p-tabPanel
      >
      <p-tabPanel header="Puts" leftIcon="pi pi-arrow-circle-down">
        <p-table
          [loading]="s.isLoadingOwned"
          [value]="s.ownedPuts"
          responsiveLayout="scroll"
          styleClass="p-datatable-sm"
          selectionMode="single"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Stake</th>
              <th>Value</th>
              <th>Change</th>
              <th>Strike</th>
              <th>Duration</th>
              <th>Vdot</th>
              <th>Vi</th>
              <th>Gas/Day</th>
              <th>Gas collateral</th>
              <th>Safe</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-token>
            <tr>
              <td>{{ token.tokenId }}</td>
              <td>
                <div class="flex align-items-center">
                  {{ token.stake / 1000000000 | number: '1.0-0' }}
                  <img src="assets/images/candy.png" height="20" class="ml-2" />
                </div>
              </td>
              <td>
                <div class="flex align-items-center">
                  {{ token.realValue / 1000000000 | number: '1.0-0' }}
                  <img src="assets/images/candy.png" height="20" class="ml-2" />
                </div>
              </td>
              <td>
                <div
                  *ngIf="token.startValue < token.realValue; else minus"
                  class="positive-change"
                >
                  +{{
                    ((token.realValue - token.startValue) / token.startValue) *
                      100 | number: '1.2-2'
                  }}%
                </div>
                <ng-template #minus>
                  <div class="negative-change">
                    -{{
                      ((token.startValue - token.realValue) /
                        token.startValue) *
                        100 | number: '1.2-2'
                    }}%
                  </div>
                </ng-template>
              </td>
              <td>${{ token.strike / 100000000 | number: '1.2-2' }}</td>
              <td>
                {{ token.minRentInMinutes / 60 / 24 }} -
                {{ token.maxRentInMinutes / 60 / 24 }} days
              </td>
              <td>{{ token.vdot }}</td>
              <td>{{ token.vi }}</td>
              <td>{{ token.gasPerMinute * 60 * 24 | number: '1.2-2' }}</td>
              <td>{{ token.collateral }}</td>

              <td>
                <span
                  [ngClass]="token.safe ? 'pi pi-check' : 'pi pi-times'"
                ></span>
              </td>
              <td><p-tag [value]="token.status"></p-tag></td>
              <td>
                <span
                  class="pi pi-eject positive-change cursor-pointer"
                  (click)="exercise(token.tokenId)"
                ></span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="12">
                <div class="p-1">
                  Could not find rented put NFTs for this account.
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </p-panel>
</ng-container>
<br />
