<ng-container *ngIf="state$ | async as s">
  <div class="flex justify-content-center mt-5 mb-5">
    <button
      pButton
      label="Mint Call"
      icon="pi pi-arrow-circle-up"
      class="p-button-success mr-3"
      (click)="displayMintCallModal()"
    ></button>
    <button
      pButton
      label="Mint Put"
      icon="pi pi-arrow-circle-down"
      class="p-button-danger"
      (click)="displayMintPutModal()"
    ></button>
  </div>

  <p-table
    [loading]="s.isLoadingWriter"
    [value]="s.writer"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="caption">Open Listings </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Stake</th>
        <th>Value</th>
        <th>Change</th>
        <th>Strike</th>
        <th>Duration</th>
        <th>Vdot</th>
        <th>Vi</th>
        <th>Gas/Day</th>
        <th>Safe</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-token let-expanded="expanded">
      <tr [pRowToggler]="token">
        <td>{{ token.tokenId }}</td>
        <td>
          <div class="flex align-items-center">
            {{ token.stake / 1000000000 | number: '1.0-0' }}
            <img src="assets/images/candy.png" height="20" class="ml-2" />
          </div>
        </td>
        <td>
          <div class="flex align-items-center">
            {{ token.realValue / 1000000000 | number: '1.0-0' }}
            <img src="assets/images/candy.png" height="20" class="ml-2" />
          </div>
        </td>
        <td>
          <div
            *ngIf="token.startValue < token.realValue; else minus"
            class="positive-change"
          >
            +{{
              ((token.realValue - token.startValue) / token.startValue) * 100
                | number: '1.2-2'
            }}%
          </div>
          <ng-template #minus>
            <div class="negative-change">
              -{{
                ((token.startValue - token.realValue) / token.startValue) * 100
                  | number: '1.2-2'
              }}%
            </div>
          </ng-template>
        </td>
        <td>${{ token.strike / 100000000 | number: '1.2-2' }}</td>
        <td>
          {{ token.minRentInMinutes / 60 / 24 }} -
          {{ token.maxRentInMinutes / 60 / 24 }} days
        </td>
        <td>{{ token.vdot }}</td>
        <td>{{ token.vi }}</td>
        <td>{{ token.gasPerMinute * 60 * 24 | number: '1.2-2' }}</td>
        <td>
          <span [ngClass]="token.safe ? 'pi pi-check' : 'pi pi-times'"></span>
        </td>
        <td>
          <span
            class="pi pi-trash close-listing-btn negative-change"
            (click)="cancelListing(token.tokenId)"
          ></span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    header="Mint Option"
    [(visible)]="s.displayMintModal"
    [modal]="true"
    [draggable]="true"
    [resizable]="false"
  >
    <form [formGroup]="form" (ngSubmit)="mint()">
      <div class="mb-5 mt-4">
        <span class="p-float-label">
          <input pInputText id="type" formControlName="type" />
          <label for="type">Type</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <input pInputText id="asset" formControlName="asset" readonly />
          <label for="asset">Asset</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="strike"
            prefix="$"
            [min]="0"
            id="strike"
          ></p-inputNumber>
          <label for="strike">Strike Price</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="stake"
            mode="decimal"
            suffix=" $CANDY"
            [maxFractionDigits]="0"
            [minFractionDigits]="0"
            [min]="5000"
            id="stake"
          ></p-inputNumber>
          <label for="stake">Stake</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="value"
            suffix=" $CANDY"
            [min]="0"
            id="value"
          ></p-inputNumber>
          <label for="stake">Initial Value</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <input
            type="text"
            id="duration"
            pInputText
            [value]="duration[0] + ' - ' + duration[1] + ' days'"
            readonly
          />
          <p-slider
            formControlName="duration"
            [min]="1"
            [max]="180"
            [range]="true"
            [step]="1"
          >
          </p-slider>
          <label for="duration">Duration</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            formControlName="dailyFee"
            [min]="0.01"
            suffix=" GAS"
            id="dailyFee"
          ></p-inputNumber>
          <label for="dailyFee">Daily Fee</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            formControlName="collateral"
            [min]="0.01"
            suffix=" GAS"
            id="collateral"
          ></p-inputNumber>
          <label for="collateral">Collateral</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="vdot"
            [min]="0"
            id="vdot"
          ></p-inputNumber>
          <label for="vdot">Vdot</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber formControlName="vi" [min]="0" id="vi"></p-inputNumber>
          <label for="vi">Vi</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="fee"
            suffix=" $CANDY"
            id="fee"
          ></p-inputNumber>
          <label for="fee">Protocol Fee</label>
        </span>
      </div>

      <div class="mb-5">
        <p-checkbox
          label="Safe exercise"
          [binary]="true"
          formControlName="safe"
        ></p-checkbox>
      </div>

      <div class="mb-5">
        <div class="flex">
          <p-checkbox [binary]="true" formControlName="agreement"></p-checkbox>
          <span class="ml-2">I understand the <a href="">risks</a></span>
        </div>
      </div>
      <div class="text-center p-fluid">
        <button
          pButton
          [disabled]="!form.valid"
          icon="pi pi-check"
          label="Confirm"
          type="submit"
          styleClass="p-button-text"
        ></button>
      </div>
    </form>
  </p-dialog>
</ng-container>
