<ng-container *ngIf="state$ | async as s">
  <p-panel>
    <ng-template pTemplate="header"
      ><span class="mr-2 font-bold">Profile</span>
    </ng-template>
    <div class="small-profile-menu">
      <p-menubar [model]="items" styleClass="cd-profile-menu"></p-menubar>
    </div>
    <div class="flex">
      <div class="hidden sm:block">
        <p-menu [model]="items" styleClass="cd-profile-menu"></p-menu>
      </div>
      <div class="w-full">
        <router-outlet></router-outlet>
      </div>
    </div>
  </p-panel>
</ng-container>
