.custom-shape-divider-top-1637616913 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1637616913 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.custom-shape-divider-top-1637616913 .shape-fill {
  fill: #ffffff;
}

.footer-container {
  background: rgb(255, 131, 195);
  background: linear-gradient(333deg, #ffe552 16%, #ff83c3 100%);
  color: white;
  font-size: 20px;
}
