<ng-container *ngIf="state$ | async as s">
  <p-table
    [loading]="s.isLoading"
    selectionMode="single"
    [value]="s.tokens"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="caption">Details</ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Stake</th>
        <th>Value</th>
        <th>Strike</th>
        <th>Duration</th>
        <th>Depreciation</th>
        <th>Volatility</th>
        <th>Gas/Day</th>
        <th>Gas Collateral</th>
        <th>Safe</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-token>
      <tr class="cursor-pointer" (click)="displayRentModal(token)">
        <td>{{ token.tokenId }}</td>
        <td>
          <div class="flex align-items-center">
            {{ token.stake | number: '1.0-0' }}
            <img src="assets/images/candy.png" height="20" class="ml-2" />
          </div>
        </td>
        <td>
          <div class="flex align-items-center">
            {{ token.value | number: '1.0-0' }}
            <img src="assets/images/candy.png" height="20" class="ml-2" />
          </div>
        </td>
        <td>${{ token.strike | number: '1.2-2' }}</td>
        <td>
          {{ token.listing.minMinutes / 60 / 24 }} -
          {{ token.listing.maxMinutes / 60 / 24 }} days
        </td>
        <td>{{ token.depreciation | number }}</td>
        <td>{{ token.volatility | number }}</td>
        <td>{{ token.listing.gasPerMinute * 60 * 24 | number: '1.2-2' }}</td>
        <td>{{ token.listing.collateral | number: '1.2-2' }}</td>
        <td>
          <span [ngClass]="token.safe ? 'pi pi-check' : 'pi pi-times'"></span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- <p-dialog
    [visible]="s.displayRentModal"
    [resizable]="false"
    header="Rent NFT"
  >
    <form [formGroup]="formGroup">
      <span class="p-float-label">
        <input type="text" pInputText [value]="duration" readonly />
        <p-slider
          formControlName="duration"
          [min]="s.selectedNft ? s.selectedNft.minRentInMinutes / 24 / 60 : 1"
        ></p-slider>
        <label for="duration">Duration</label>
      </span>
    </form>
  </p-dialog> -->
</ng-container>
