<ng-container *ngIf="state$ | async as s">
  <p-toolbar>
    <div>
      <p-checkbox
        [binary]="true"
        label="Hide rented NFTs"
        [(ngModel)]="s.hideRented"
        (onChange)="onHideRentedSelected$.next($event)"
      ></p-checkbox>
    </div>
  </p-toolbar>
  <br />
  <p-table
    [loading]="s.isLoading"
    selectionMode="single"
    [value]="s.tokens"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <div>Details</div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Stake</th>
        <th>Value</th>
        <th>Strike</th>
        <th>Duration</th>
        <th>Depreciation</th>
        <th>Volatility</th>
        <th>Daily fee</th>
        <th>Collateral</th>
        <th>Safe</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-token>
      <tr class="cursor-pointer" (click)="displayRentModal(token)">
        <td>{{ token.tokenId }}</td>
        <td>
          <div class="flex align-items-center">
            {{ token.stake | number: '1.0-0' }}
            <img src="assets/images/candy.png" height="20" class="ml-2" />
          </div>
        </td>
        <td>
          <div class="flex align-items-center">
            {{ token.value | number: '1.0-0' }}
            <img src="assets/images/candy.png" height="20" class="ml-2" />
          </div>
        </td>
        <td>${{ token.strike | number: '1.2-2' }}</td>
        <td>
          {{ token.listing.minMinutes / 60 / 24 }} -
          {{ token.listing.maxMinutes / 60 / 24 }} days
        </td>
        <td>{{ token.depreciation | number }}</td>
        <td>{{ token.volatility | number }}</td>
        <td>
          <div class="flex align-items-center">
            {{ token.listing.gasPerMinute * 60 * 24 | number: '1.2-2' }}
            <img src="assets/images/gas.png" height="20" class="ml-2" />
          </div>
        </td>
        <td>
          <div class="flex align-items-center">
            {{ token.listing.collateral | number: '1.2-2' }}
            <img src="assets/images/gas.png" height="20" class="ml-2" />
          </div>
        </td>
        <td>
          <p-checkbox
            [ngModel]="token.safe"
            [binary]="true"
            [readonly]="true"
          ></p-checkbox>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
