<p-panel header="Markets">
  <p-tabView [scrollable]="true">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex justify-content-center align-items-center">
          <img src="assets/images/neo.png" height="20" class="mr-2" /> NEO
        </div>
      </ng-template>
      <ng-container *ngIf="state$ | async as s">
        <div class="flex">
          <div class="grid w-full">
            <div class="col">
              <p-table
                [rowHover]="true"
                [loading]="s.isLoading"
                [value]="s.calls"
                responsiveLayout="scroll"
                styleClass="p-datatable-sm"
                [paginator]="true"
                [rows]="25"
              >
                <ng-template pTemplate="caption">
                  <div class="flex justify-content-center text-xl">
                    Calls
                  </div></ng-template
                >

                <ng-template pTemplate="header">
                  <tr>
                    <th>Strike</th>
                    <th>TVL</th>
                    <th>Volume</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-token>
                  <tr
                    (click)="onCallsRowSelect(token)"
                    class="cursor-pointer"
                    [ngClass]="{
                      'highlight-row-dark-theme':
                        token.strike < s.neoPrice.curr &&
                        theme.current === 'lara-dark-indigo',
                      'highlight-row-light-theme':
                        token.strike < s.neoPrice.curr &&
                        theme.current === 'lara-light-indigo'
                    }"
                  >
                    <td>${{ token.strike | number: '1.2-2' }}</td>
                    <td>
                      {{ token.tvl | currency }}
                    </td>
                    <td>{{ token.volume }}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="3">
                      <div class="p-1">
                        There are currently no call NFTs listed.
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="col">
              <p-table
                [rowHover]="true"
                [value]="s.puts"
                [loading]="s.isLoading"
                responsiveLayout="scroll"
                styleClass="p-datatable-sm"
                [paginator]="true"
                [rows]="25"
              >
                <ng-template pTemplate="caption">
                  <div class="flex justify-content-center text-xl">
                    Puts
                  </div></ng-template
                >

                <ng-template pTemplate="header">
                  <tr>
                    <th>Strike</th>
                    <th>TVL</th>
                    <th>Volume</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-token>
                  <tr
                    (click)="onPutsRowSelect(token)"
                    class="cursor-pointer"
                    [ngClass]="{
                      'highlight-row-dark-theme':
                        token.strike > s.neoPrice.curr &&
                        theme.current === 'lara-dark-indigo',
                      'highlight-row-light-theme':
                        token.strike > s.neoPrice.curr &&
                        theme.current === 'lara-light-indigo'
                    }"
                  >
                    <td>${{ token.strike | number: '1.2-2' }}</td>
                    <td>
                      {{ token.tvl | currency }}
                    </td>
                    <td>{{ token.volume }}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="3">
                      <div class="p-1">
                        There are currently no put NFTs listed.
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </ng-container></p-tabPanel
    >
    <p-tabPanel [disabled]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-content-center align-items-center">
          <img src="assets/images/gas.png" height="20" class="mr-2" /> GAS
        </div>
      </ng-template></p-tabPanel
    >
    <p-tabPanel [disabled]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-content-center align-items-center">
          <img src="assets/images/flm.png" height="20" class="mr-2" /> FLM
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel [disabled]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-content-center align-items-center">
          <img src="assets/images/btc.png" height="20" class="mr-2" /> BTC
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel [disabled]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-content-center align-items-center">
          <img src="assets/images/eth.png" height="20" class="mr-2" /> ETH
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel [disabled]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-content-center align-items-center">
          <img src="assets/images/bnb.png" height="20" class="mr-2" /> BNB
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel [disabled]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-content-center align-items-center">
          <img src="assets/images/ada.png" height="20" class="mr-2" /> ADA
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel [disabled]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-content-center align-items-center">
          <img src="assets/images/sol.png" height="20" class="mr-2" /> SOL
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel [disabled]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-content-center align-items-center">
          <img src="assets/images/xrp.png" height="20" class="mr-2" /> XRP
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</p-panel>
