::ng-deep .p-panel .p-panel-content{
  padding: 0px;
}

.highlight-row-light-theme {
  background-color: #d3e7f8 !important;
}

.highlight-row-dark-theme {
  background-color: #092d4b !important;
}

::ng-deep .p-datatable .p-datatable-header {
  background: none;
}
