<div class="menu flex justify-content-center">
  <div class="menu-content flex flex-row justify-content-end">
    <button
      pButton
      pRipple
      class="connect-wallet-btn p-button-outlined"
      type="button"
      label="Connect Wallet"
    ></button>
  </div>
</div>

<div class="flex flex-column">
  <div
    class="flex flex-row flex-wrap justify-content-center overview-container"
  >
    <div class="box flex align-items-center justify-content-center p-3">
      <div class="flex flex-column align-items-center">
        <div class="count-label">Villagers</div>
        <div class="count-value">0</div>
      </div>
    </div>
    <div class="box flex align-items-center justify-content-center">
      <div
        class="
          claim-button
          flex flex-column
          align-items-center
          justify-content-center
        "
      >
        <div class="count-label">Unclaimed</div>
        <div class="counter">0.000000000</div>
      </div>
    </div>
    <div class="box flex align-items-center justify-content-center p-3">
      <div class="flex flex-column align-items-center">
        <div class="count-label">Villains</div>
        <div class="count-value">0</div>
      </div>
    </div>
  </div>
  <div class="progress flex justify-content-center align-items-start">
    <div class="flex m-3 justify-content-center align-items-center w-full">
      <div class="mr-2">
        <span class="available-label mr-2">Available</span>
        <span class="available-percent">100%</span>
      </div>
      <div class="mint-progressbar"></div>
      <div class="ml-2 available-label">10'000</div>
    </div>
  </div>
</div>

<div class="flex justify-content-center">
  <div class="statistic-container"></div>
</div>
