<p-menubar styleClass="cc-menu" [model]="menuItems">
  <span class="mr-5 pi pi-github"></span>
  <span class="mr-5 pi pi-twitter"></span>
  <span class="mr-5 pi pi-discord"></span>
</p-menubar>

<div class="menu flex justify-content-center">
  <div class="menu-content flex flex-row justify-content-between">
    <div class="flex align-items-center">
      <img
        src="assets/images/candy-logo-sm.png"
        height="40"
        alt="candyclash-logo"
      />
      <div class="flex justify-content-center align-items-center">
        <span class="candyclash-logo-text mr-2">CANDYCLASH</span>
        <p-tag severity="danger" value="ALPHA"></p-tag>
      </div>
    </div>

    <ng-container *ngIf="address; else connect">
      <button
        pButton
        pRipple
        [icon]="isLoading ? 'pi pi-spin pi-spinner' : 'pi pi pi-copy'"
        class="connect-wallet-btn p-button-text"
        type="button"
        label="{{ address | truncateAddress }}"
      ></button>
    </ng-container>
    <ng-template #connect>
      <button
        pButton
        pRipple
        class="connect-wallet-btn p-button-outlined"
        type="button"
        (click)="connectWallet()"
        label="Connect Wallet"
      ></button>
    </ng-template>
  </div>
</div>

<div class="flex flex-column">
  <div
    class="flex flex-row flex-wrap justify-content-center overview-container"
  >
    <div class="box flex align-items-center justify-content-center p-3">
      <div class="flex flex-column align-items-center">
        <div class="count-label mb-2">Villagers</div>
        <div class="count-value">{{ villagers }}</div>
      </div>
    </div>
    <div class="box flex align-items-center justify-content-center">
      <button
        pButton
        pRipple
        class="mint-btn mr-2 p-button-help"
        label="MINT"
        (click)="displayMintModal = true"
      ></button>
      <button pButton pRipple class="claim-btn mr-2" (click)="claim()">
        <div
          class="flex flex-column text-center justify-content-center align-items-center w-full"
        >
          <div class="count-label">Unclaimed</div>
          <div class="counter">
            {{ claimableAmount / 1000000000 | number: '1.9-9' }}
          </div>
        </div>
      </button>
    </div>
    <div class="box flex align-items-center justify-content-center p-3">
      <div class="flex flex-column align-items-center">
        <div class="count-label mb-2">Villains</div>
        <div class="count-value">{{ villains }}</div>
      </div>
    </div>
  </div>

  <div class="progress flex justify-content-center align-items-start">
    <div class="flex m-3 justify-content-center align-items-center w-full">
      <div class="mr-2">
        <span class="available-label mr-2">Available</span>
        <span class="available-percent"
          >{{
            (((maxTokensAmount - totalSupply) / maxTokensAmount) * 100
              | number) || 0
          }}%</span
        >
      </div>
      <div class="mint-progressbar"></div>
      <div class="ml-2 available-label">{{ maxTokensAmount | number }}</div>
    </div>
  </div>
</div>

<div class="flex flex-column align-items-center justify-content-center">
  <div class="statistic-container" *ngIf="nfts.length > 0">
    <p-table
      styleClass="cc-nft-table"
      [value]="nfts"
      [(selection)]="selectedNfts"
      [scrollable]="true"
      scrollHeight="30rem"
      [loading]="isLoading"
      selectionMode="single"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <span
            >Your NFTs
            {{
              selectedNfts.length > 0 ? '(' + selectedNfts.length + ')' : ''
            }}</span
          >
          <button
            #menuBtn
            pButton
            pRipple
            (click)="menu.toggle($event)"
            class="p-button-outlined p-button-rounded"
            icon="pi pi-bars"
          ></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="tokenId">
            TokenID<p-sortIcon field="tokenId"></p-sortIcon>
          </th>
          <th pSortableColumn="type">
            Type<p-sortIcon field="type"></p-sortIcon>
          </th>
          <th pSortableColumn="actions">
            Actions<p-sortIcon field="actions"></p-sortIcon>
          </th>
          <th pSortableColumn="sugar">
            Sugar<p-sortIcon field="sugar"></p-sortIcon>
          </th>
          <th pSortableColumn="level">
            Level<p-sortIcon field="level"></p-sortIcon>
          </th>
          <th pSortableColumn="bonus">
            Claim Bonus<p-sortIcon field="bonus"></p-sortIcon>
          </th>
          <th pSortableColumn="staked">
            Staked<p-sortIcon field="staked"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-nft let-columns="columns">
        <tr>
          <td>
            <p-tableCheckbox [value]="nft"></p-tableCheckbox>
          </td>
          <td>{{ nft.tokenId }}</td>

          <td>{{ nft.type }}</td>
          <td>{{ nft.actions }} / {{ actionPointsTable[nft.level] }}</td>
          <td>{{ nft.sugar }}</td>
          <td>
            <div class="w-full flex flex-column">
              {{ nft.level }}
            </div>
          </td>
          <td>{{ nft.bonus }}</td>
          <td>
            <i
              class="pi"
              [ngClass]="{
                'true-icon pi-check-circle': nft.staked,
                'false-icon pi-times-circle': !nft.staked
              }"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="statistic-container">
    <cc-nft-details (configLoaded)="onConfigLoaded($event)"></cc-nft-details>
  </div>
</div>
<p-menu #menu [popup]="true" [model]="tableItems"></p-menu>

<p-dialog
  header="Mint"
  [(visible)]="displayMintModal"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <p class="m-0">How many NFTs do you want to mint?</p>
  <div class="text-xl mt-4 flex justify-content-center">
    {{ mintAmount }}
  </div>
  <div class="mt-5">
    <p-slider
      [(ngModel)]="mintAmount"
      [step]="1"
      [min]="1"
      [max]="10"
    ></p-slider>

    <div class="mt-5 flex justify-content-end">
      Mint Fee:
      {{ (mintAmount * nftPricesCandy[generation]) / 1000000000 }} CANDY
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayMintModal = false; mint(mintAmount)"
      label="Confirm"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="NFT details"
  [(visible)]="displayNftDetailsModal"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  *ngIf="selectedNfts.length > 0"
>
  <div class="mb-2">
    <p>Feed your candy with sugar to make it stronger.</p>

    <div *ngIf="selectedNfts[0].staked">
      <small>
        <i class="pi pi-exclamation-triangle mr-2"></i>
        <span class="font-bold mb-2"
          >To permform this action, you must first unstake the NFT.</span
        ></small
      >
    </div>
  </div>

  <p-table [value]="[1]">
    <ng-template pTemplate="body">
      <tr>
        <td>Token ID</td>
        <td class="text-right">{{ selectedNfts[0].tokenId }}</td>
      </tr>
      <tr>
        <td>Bonus</td>
        <td class="text-right">{{ selectedNfts[0].bonus }}</td>
      </tr>
      <tr>
        <td>Sugar</td>
        <td class="text-right">
          {{ selectedNfts[0].sugar + sugarIncrease }} /
          {{ getLevelUpXp(selectedNfts[0].sugar + sugarIncrease) }}
        </td>
      </tr>
      <tr>
        <td>Level</td>
        <td class="text-right">
          {{ getLevelForXp(selectedNfts[0].sugar + sugarIncrease) }}
        </td>
      </tr>
      <tr>
        <td>Actions</td>
        <td class="text-right">
          {{ selectedNfts[0].actions }} /
          {{
            actionPointsTable[
              getLevelForXp(selectedNfts[0].sugar + sugarIncrease) - 1
            ]
          }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="flex flex-column justify-content-center">
    <button
      class="mb-2 p-button-warning"
      pButton
      icon="pi pi-angle-double-right"
      [disabled]="selectedNfts[0].staked"
      label="Add sugar"
      (click)="addSugar(100)"
    ></button>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      [disabled]="selectedNfts[0].staked"
      icon="pi pi-check"
      (click)="displayNftDetailsModal = false; confirmSugarAdded(sugarIncrease)"
      label="Confirm"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-toast position="bottom-center"></p-toast>
