<ng-container *ngIf="state$ | async as s">
  <p-panel>
    <ng-template pTemplate="header"
      ><span class="mr-2 font-bold">Rentings</span>
    </ng-template>
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <p-dropdown
          [(ngModel)]="s.selectedLayout"
          [disabled]="s.isLoading"
          [options]="s.layoutOptions"
          (onChange)="onLayoutChange$.next($event)"
        ></p-dropdown>
      </div>
    </p-toolbar>

    <p-tabView [scrollable]="true">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex justify-content-center align-items-center">
            <img src="assets/images/neo.png" height="20" class="mr-2" /> NEO
          </div>
        </ng-template>
        <p-panel header="Active">
          <p-table
            [loading]="s.isLoading"
            [value]="s.activeTokens"
            responsiveLayout="scroll"
            styleClass="p-datatable-sm"
            selectionMode="single"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>Stake</th>
                <th>Strike</th>
                <th>Value</th>
                <th>Time Decay</th>
                <th>Leverage</th>
                <th>Safe</th>
                <th>Remaining</th>
                <th>Effective date</th>
                <th>Profit</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-token>
              <tr
                [ngClass]="{
                  'highlight-row-dark-theme':
                    (token.strike < s.neoPrice.curr &&
                      token.type === 'Call' &&
                      theme.current === 'lara-dark-indigo') ||
                    (token.strike > s.neoPrice.curr &&
                      token.type === 'Put' &&
                      theme.current === 'lara-dark-indigo'),
                  'highlight-row-light-theme':
                    (token.strike < s.neoPrice.curr &&
                      token.type === 'Call' &&
                      theme.current === 'lara-light-indigo') ||
                    (token.strike > s.neoPrice.curr &&
                      token.type === 'Put' &&
                      theme.current === 'lara-light-indigo')
                }"
                class="cursor-pointer"
                (click)="goToTokenDetails(token.tokenId)"
              >
                <td>{{ token.tokenId }}</td>
                <td>{{ token.stake | number: '1.0-0' }} CANDY</td>
                <td>{{ token.strike | currency }}</td>
                <td>{{ token.value | number: '1.0-0' }} CANDY</td>
                <td>{{ token.timeDecay | number }}</td>
                <td>{{ token.leverage | number }}</td>
                <td>
                  <p-checkbox
                    [ngModel]="token.safe"
                    [binary]="true"
                    [readonly]="true"
                  ></p-checkbox>
                </td>
                <td>
                  <ng-container
                    *ngIf="
                      token.renting.remainingSeconds !== 0;
                      else defaultTimer
                    "
                  >
                    <cd-timer
                      [startTime]="token.renting.remainingSeconds"
                      [endTime]="0"
                      [countdown]="true"
                    ></cd-timer>
                  </ng-container>
                  <ng-template #defaultTimer>0d 0h 0m 0s</ng-template>
                </td>
                <td>
                  {{
                    token.renting.startedAt + token.renting.duration * 60 * 1000
                      | date: 'medium'
                  }}
                </td>

                <td>
                  <div
                    class="flex align-items-center"
                    [ngClass]="{
                      'negative-price': token.profit < 0,
                      'positive-price': token.profit >= 0
                    }"
                  >
                    {{ calculateBorrowerProfit(token) | currency }}
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="12">
                  <div class="p-1">
                    Could not find listed
                    {{ s.selectedLayout }} NFTs for this account.
                  </div>
                </td>
              </tr>
            </ng-template></p-table
          >
        </p-panel>
      </p-tabPanel>
      <p-tabPanel [disabled]="true">
        <ng-template pTemplate="header">
          <div class="flex justify-content-center align-items-center">
            <img src="assets/images/gas.png" height="20" class="mr-2" /> GAS
          </div>
        </ng-template></p-tabPanel
      >
      <p-tabPanel [disabled]="true">
        <ng-template pTemplate="header">
          <div class="flex justify-content-center align-items-center">
            <img src="assets/images/flm.png" height="20" class="mr-2" /> FLM
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel [disabled]="true">
        <ng-template pTemplate="header">
          <div class="flex justify-content-center align-items-center">
            <img src="assets/images/btc.png" height="20" class="mr-2" /> BTC
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel [disabled]="true">
        <ng-template pTemplate="header">
          <div class="flex justify-content-center align-items-center">
            <img src="assets/images/eth.png" height="20" class="mr-2" /> ETH
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel [disabled]="true">
        <ng-template pTemplate="header">
          <div class="flex justify-content-center align-items-center">
            <img src="assets/images/bnb.png" height="20" class="mr-2" /> BNB
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel [disabled]="true">
        <ng-template pTemplate="header">
          <div class="flex justify-content-center align-items-center">
            <img src="assets/images/ada.png" height="20" class="mr-2" /> ADA
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel [disabled]="true">
        <ng-template pTemplate="header">
          <div class="flex justify-content-center align-items-center">
            <img src="assets/images/sol.png" height="20" class="mr-2" /> SOL
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel [disabled]="true">
        <ng-template pTemplate="header">
          <div class="flex justify-content-center align-items-center">
            <img src="assets/images/xrp.png" height="20" class="mr-2" /> XRP
          </div>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </p-panel>
</ng-container>
