::ng-deep .p-toolbar {
  border-radius: 0px;
  padding: 0.7rem;
  border-top: 0;
  margin-left: -1px;
}

.highlight-row-light-theme {
  background-color: #d3e7f8 !important;
}

.highlight-row-dark-theme {
  background-color: #306089 !important;
}
