<ng-container *ngIf="state$ | async as s">
  <div *ngIf="!s.isLoading; else loading">
    <p-toolbar>
      <div class="flex align-items-center">
        <span class="mr-2"><a routerLink="/">Markets</a></span>
        <i class="pi pi-angle-right"></i> <span class="mr-2 ml-2">NEO</span>
        <i class="pi pi-angle-right"></i>
        <span class="mr-2 ml-2">{{ s.token.type }}s</span>
        <i class="pi pi-angle-right"></i>
        <span class="ml-2">{{ s.base64TokenId }}</span>
        <span class="ml-3"
          ><p-tag>{{ tokenStatus[s.status] }}</p-tag></span
        >
      </div>
    </p-toolbar>
    <p-panel styleClass="token-details-panel">
      <ng-template pTemplate="header">
        <div class="w-full flex justify-content-between">
          <div class="font-bold">Token Details</div>
          <div class="hidden sm:inline">
            <span class="font-bold">Writer: </span
            ><a [href]="addressExplorer + s.token.writer">{{
              s.token.writer | truncateAddress
            }}</a
            >, <span class="font-bold">Owner: </span
            ><a
              *ngIf="s.token.owner !== rentfuseAddress"
              [href]="addressExplorer + s.token.owner"
              >{{ s.token.owner | truncateAddress }}</a
            ><a
              *ngIf="s.token.owner === rentfuseAddress"
              [href]="addressExplorer + s.token.owner"
              >Rentfuse</a
            >,
            {{ s.token.created | date }}
          </div>
        </div>
      </ng-template>
      <p-menubar [model]="s.optionItems"></p-menubar>

      <p-tabView
        [scrollable]="true"
        [activeIndex]="s.status"
        styleClass="cd-token-status-panel"
      >
        <p-tabPanel [disabled]="s.status !== 0">
          <ng-template pTemplate="header">
            <i
              class="mr-2"
              [ngClass]="s.status === 0 ? 'pi pi-check-circle' : 'pi pi-circle'"
            ></i>
            Unlisted
          </ng-template>
        </p-tabPanel>
        <p-tabPanel [disabled]="s.status !== 1">
          <ng-template pTemplate="header">
            <i
              class="mr-2"
              [ngClass]="s.status === 1 ? 'pi pi-check-circle' : 'pi pi-circle'"
            ></i>
            Listed
          </ng-template>
        </p-tabPanel>
        <p-tabPanel [disabled]="s.status !== 2">
          <ng-template pTemplate="header">
            <i
              class="mr-2"
              [ngClass]="s.status === 2 ? 'pi pi-check-circle' : 'pi pi-circle'"
            ></i>
            Rented
          </ng-template>
        </p-tabPanel>
        <p-tabPanel [disabled]="s.status !== 3">
          <ng-template pTemplate="header">
            <i
              class="mr-2"
              [ngClass]="s.status === 3 ? 'pi pi-check-circle' : 'pi pi-circle'"
            ></i>
            Exercised
          </ng-template>
        </p-tabPanel>
        <p-tabPanel [disabled]="s.status !== 4">
          <ng-template pTemplate="header">
            <i
              class="mr-2"
              [ngClass]="s.status === 4 ? 'pi pi-check-circle' : 'pi pi-circle'"
            ></i>
            Expired
          </ng-template>
        </p-tabPanel>
        <p-tabPanel [disabled]="s.status !== 5">
          <ng-template pTemplate="header">
            <i
              class="mr-2"
              [ngClass]="s.status === 5 ? 'pi pi-check-circle' : 'pi pi-circle'"
            ></i>
            Cancelled
          </ng-template>
        </p-tabPanel>
      </p-tabView>
      <p-panel header="Overview">
        <div class="flex m-3">
          <div class="grid p-fluid w-full">
            <div class="lg:col-3 md:col-6 col-12">
              <div class="flex flex-column">
                <div class="font-bold mb-1">ID:</div>
                <input pInputText [value]="s.token.tokenId" readonly />
              </div>
            </div>
            <div class="lg:col-3 md:col-6 col-12">
              <div class="flex flex-column">
                <div class="font-bold mb-1">Stake:</div>
                <p-inputNumber
                  [readonly]="true"
                  [ngModel]="s.token.stake"
                  suffix=" CANDY"
                ></p-inputNumber>
              </div>
            </div>
            <div class="lg:col-3 md:col-6 col-12">
              <div class="flex flex-column">
                <div class="font-bold mb-1">Current Value:</div>
                <p-inputNumber
                  [readonly]="true"
                  [ngModel]="s.token.currentValue"
                  suffix=" CANDY"
                ></p-inputNumber>
              </div>
            </div>
            <div class="lg:col-3 md:col-6 col-12">
              <div class="flex flex-column">
                <div class="font-bold mb-1">Strike:</div>
                <p-inputNumber
                  [ngModel]="s.token.strike"
                  mode="currency"
                  [readonly]="true"
                  currency="USD"
                  locale="en-US"
                ></p-inputNumber>
              </div>
            </div>
            <div class="col-12">
              <p-fieldset
                legend="Advanced"
                [toggleable]="true"
                [collapsed]="s.token.leverage === 0"
              >
                <div class="grid p-fluid">
                  <div class="md:col-3 col-12">
                    <div class="flex flex-column">
                      <div class="font-bold mb-1">Time Decay:</div>
                      <p-inputNumber
                        [ngModel]="s.token.timeDecay"
                        [readonly]="true"
                      ></p-inputNumber>
                    </div>
                  </div>
                  <div class="md:col-3 col-12">
                    <div class="flex flex-column">
                      <div class="font-bold mb-1">Leverage:</div>
                      <p-inputNumber
                        [ngModel]="s.token.leverage"
                        [readonly]="true"
                      ></p-inputNumber>
                    </div>
                  </div>
                  <div class="md:col-3 col-12">
                    <div class="flex flex-column">
                      <div class="font-bold mb-1">Safe:</div>
                      <input
                        pInputText
                        [value]="s.token.safe ? 'Yes' : 'No'"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </p-fieldset>
            </div>
          </div>
        </div>
      </p-panel>
      <p-panel header="Listing" *ngIf="s.token.listing.listingId !== 0">
        <div class="flex m-3">
          <div class="grid p-fluid w-full">
            <div class="md:col-4 col-12">
              <div class="flex flex-column">
                <div class="font-bold mb-1">Daily fee:</div>
                <p-inputNumber
                  [ngModel]="s.token.listing.gasPerMinute * 24 * 60"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="3"
                  [readonly]="true"
                  mode="decimal"
                  suffix=" GAS"
                ></p-inputNumber>
              </div>
            </div>
            <div class="md:col-4 col-12">
              <div class="flex flex-column">
                <div class="font-bold mb-1">Collateral:</div>
                <p-inputNumber
                  [ngModel]="s.token.listing.collateral"
                  suffix=" GAS"
                  [readonly]="true"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="3"
                ></p-inputNumber>
              </div>
            </div>
            <div class="md:col-4 col-12">
              <div class="flex flex-column">
                <div class="font-bold mb-1">Duration:</div>
                <input
                  pInputText
                  [value]="
                    s.token.listing.minMinutes / 60 / 24 +
                    '-' +
                    s.token.listing.maxMinutes / 60 / 24 +
                    ' days'
                  "
                  readonly
                />
              </div>
            </div>
          </div></div
      ></p-panel>
      <p-panel
        header="Renting"
        *ngIf="
          s.token.renting &&
          (s.status === tokenStatus.Rented || s.status === tokenStatus.Expired)
        "
      >
        <div class="flex m-3">
          <div class="grid p-fluid w-full">
            <div class="md:col-4 col-12">
              <div class="flex flex-column">
                <div class="font-bold mb-1">Duration:</div>
                <input
                  pInputText
                  [ngModel]="s.token.renting.duration / 60 / 24 + ' day(s)'"
                />
              </div>
            </div>
            <div class="md:col-4 col-12">
              <div class="flex flex-column">
                <div class="font-bold mb-1">Effective Date:</div>
                <p-calendar
                  [readonlyInput]="true"
                  [ngModel]="s.effectiveDate"
                  [showTime]="true"
                  [showOnFocus]="false"
                ></p-calendar>
              </div>
            </div>
          </div>
        </div>
      </p-panel>
    </p-panel>
  </div>
  <ng-template #loading>
    <div class="flex w-full justify-content-center align-items-center">
      <img
        class="loading-icon"
        src="assets/ui/blocks-scale.svg"
        [ngClass]="{
          'loading-icon-dark-mode': theme.current === 'lara-dark-indigo'
        }"
      />
    </div>
  </ng-template>
</ng-container>
