<ng-container *ngIf="state$ | async as s">
  <div *ngIf="!s.isLoading; else loading">
    <p-panel>
      <ng-template pTemplate="header">
        <div class="w-full flex justify-content-between">
          <div class="font-bold">Token Details</div>
          <div class="hidden sm:inline">
            <span class="font-bold">Writer: </span
            ><a href="">{{ s.token.writer | truncateAddress }}</a>
            <span class="ml-2 font-bold">Created at: </span>
            {{ s.token.created | date }}
          </div>
        </div>
      </ng-template>
      <div class="grid p-fluid">
        <div class="col-3">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Token ID:</div>
            <input pInputText [value]="s.token.tokenId" />
          </div>
        </div>
        <div class="col-3">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Type</div>
            <input pInputText [value]="s.token.type" />
          </div>
        </div>
        <div class="col-3">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Stake:</div>
            <p-inputNumber
              [ngModel]="s.token.stake"
              suffix=" $CANDY"
            ></p-inputNumber>
          </div>
        </div>
        <div class="col-3">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Value:</div>
            <p-inputNumber
              [ngModel]="s.token.value"
              suffix=" $CANDY"
            ></p-inputNumber>
          </div>
        </div>
        <div class="col-3">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Strike:</div>
            <p-inputNumber
              [ngModel]="s.token.strike"
              mode="currency"
              currency="USD"
              locale="en-US"
            ></p-inputNumber>
          </div>
        </div>
        <div class="col-3">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Depreciation:</div>
            <p-inputNumber [ngModel]="s.token.depreciation"></p-inputNumber>
          </div>
        </div>
        <div class="col-3">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Volatility:</div>
            <p-inputNumber [ngModel]="s.token.volatility"></p-inputNumber>
          </div>
        </div>
        <div class="col-3">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Safe:</div>
            <input pInputText [value]="s.token.safe ? 'Yes' : 'No'" />
          </div>
        </div>
      </div>
      <p-divider><p-tag value="Renting Costs"></p-tag></p-divider>
      <div class="grid p-fluid">
        <div class="col-3">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Daily fee:</div>
            <p-inputNumber
              [ngModel]="s.token.listing.gasPerMinute * 24 * 60"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              mode="decimal"
              suffix=" GAS"
            ></p-inputNumber>
          </div>
        </div>
        <div class="col-3">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Collateral:</div>
            <p-inputNumber
              [ngModel]="s.token.listing.collateral"
              suffix=" GAS"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
  <ng-template #loading> Skeleton </ng-template>
</ng-container>
