::ng-deep .token-details-panel .p-panel-content {
  padding: 0;
}

::ng-deep .cd-token-status-panel .p-tabview-panels {
  padding: 0;
}

.loading-icon {
  height: 80px;
  margin: 10rem;
}

::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar {
  z-index: 0;
}
