<ng-container *ngIf="state$ | async as s">
  <div *ngIf="!s.isLoading; else loading">
    <p-toolbar>
      <div class="flex align-items-center">
        <span class="mr-2"><a routerLink="/">Markets</a></span> /
        <span class="mr-2 ml-2">NEO</span> /
        <span class="mr-2 ml-2">{{ s.token.type }}s</span> /
        <span class="ml-2">{{ s.base64TokenId }}</span>
        <span class="ml-2"><p-tag>PLACEHOLDER</p-tag></span>
      </div>
    </p-toolbar>
    <p-panel styleClass="token-details-panel">
      <ng-template pTemplate="header">
        <div class="w-full flex justify-content-between">
          <div class="font-bold">Token Details</div>
          <div class="hidden sm:inline">
            <span class="font-bold">Writer: </span
            ><a href="">{{ s.token.writer | truncateAddress }}</a
            >, <span class="font-bold">Owner: </span
            ><a href="">{{ s.token.owner | truncateAddress }}</a
            >,
            {{ s.token.created | date }}
          </div>
        </div>
      </ng-template>
      <p-menubar [model]="items"></p-menubar>

      <div class="grid p-fluid p-3">
        <div class="lg:col-3 md:col-6 col-12">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Token ID:</div>
            <input pInputText [value]="s.token.tokenId" />
          </div>
        </div>

        <div class="lg:col-3 md:col-6 col-12">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Stake:</div>
            <p-inputNumber
              [ngModel]="s.token.stake"
              suffix=" $CANDY"
            ></p-inputNumber>
          </div>
        </div>
        <div class="lg:col-3 md:col-6 col-12">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Value:</div>
            <p-inputNumber
              [ngModel]="s.token.value"
              suffix=" $CANDY"
            ></p-inputNumber>
          </div>
        </div>
        <div class="lg:col-3 md:col-6 col-12">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Strike:</div>
            <p-inputNumber
              [ngModel]="s.token.strike"
              mode="currency"
              currency="USD"
              locale="en-US"
            ></p-inputNumber>
          </div>
        </div>
        <div class="md:col-3 col-12">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Depreciation:</div>
            <p-inputNumber [ngModel]="s.token.depreciation"></p-inputNumber>
          </div>
        </div>
        <div class="md:col-3 col-12">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Volatility:</div>
            <p-inputNumber [ngModel]="s.token.volatility"></p-inputNumber>
          </div>
        </div>
        <div class="md:col-3 col-12">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Safe:</div>
            <input pInputText [value]="s.token.safe ? 'Yes' : 'No'" />
          </div>
        </div>
        <div class="md:col-3 col-12">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Duration:</div>
            <input
              pInputText
              [value]="
                s.token.listing.minMinutes / 60 / 24 +
                '-' +
                s.token.listing.maxMinutes / 60 / 24 +
                ' days'
              "
            />
          </div>
        </div>
      </div>
      <p-divider><p-tag value="Renting Costs"></p-tag></p-divider>
      <div class="grid p-fluid p-3">
        <div class="md:col-3 col-12">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Daily fee:</div>
            <p-inputNumber
              [ngModel]="s.token.listing.gasPerMinute * 24 * 60"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              mode="decimal"
              suffix=" GAS"
            ></p-inputNumber>
          </div>
        </div>
        <div class="md:col-3 col-12">
          <div class="flex flex-column">
            <div class="font-bold mb-1">Collateral:</div>
            <p-inputNumber
              [ngModel]="s.token.listing.collateral"
              suffix=" GAS"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
  <ng-template #loading>
    <div class="flex w-full justify-content-center align-items-center">
      <img
        src="assets/ui/blocks-scale.svg"
        [ngClass]="{
          'loading-icon-dark': theme.current === 'lara-light-indigo',
          'loading-icon-light': theme.current === 'lara-dark-indigo'
        }"
      />
    </div>
  </ng-template>
</ng-container>
