@import '_variables';
@import '@fontsource/poppins';

html,
body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: 'Poppins';
  .p-component {
    font-family: 'Poppins' !important;
  }
}
