<ng-container *ngIf="state$ | async as s">
  <div class="flex justify-content-center mt-5 mb-5">
    <button
      pButton
      label="Mint Call"
      icon="pi pi-arrow-circle-up"
      class="p-button-success mr-3"
      (click)="displayMintCallModal()"
    ></button>
    <button
      pButton
      label="Mint Put"
      icon="pi pi-arrow-circle-down"
      class="p-button-danger"
      (click)="displayMintPutModal()"
    ></button>
  </div>

  <p-dialog
    header="Mint Option"
    [(visible)]="s.displayMintModal"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
  >
    <form [formGroup]="form" (ngSubmit)="mint()">
      <div class="mb-5">
        <span class="p-float-label">
          <input pInputText id="type" formControlName="type" />
          <label for="type">Type</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <input pInputText id="asset" formControlName="asset" readonly />
          <label for="asset">Asset</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="strike"
            prefix="$"
            [maxFractionDigits]="0"
            [minFractionDigits]="0"
            [min]="0"
            id="strike"
          ></p-inputNumber>
          <label for="strike">Strike Price</label>
        </span>
      </div>
      <!-- [min]="math.ceil(neoPrice + 0.5)" -->
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="stake"
            mode="decimal"
            suffix=" $CANDY"
            [maxFractionDigits]="0"
            [minFractionDigits]="0"
            [min]="5000"
            id="stake"
          ></p-inputNumber>
          <label for="stake">Stake</label>
        </span>
      </div>
      <div class="mb-5">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="fee"
            suffix=" $CANDY"
            id="fee"
          ></p-inputNumber>
          <label for="fee">Protocol Fee</label>
        </span>
      </div>
      <button
        pButton
        [disabled]="!form.valid"
        icon="pi pi-check"
        label="Confirm"
        type="submit"
        styleClass="p-button-text"
      ></button>
    </form>
  </p-dialog>
</ng-container>

<!-- <section *ngIf="address" class="mt-5">
  <p-table
    [value]="rented"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="caption">Rented Options </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Asset</th>
        <th>Type</th>
        <th>Strike</th>
        <th>Stake</th>
        <th>Owner</th>
        <th>Writer</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-token>
      <tr
        [ngClass]="{
          'highlight-row':
            (token.strike / 100000000 < neoPrice && token.type === 1) ||
            (token.strike / 100000000 > neoPrice && token.type === 2)
        }"
      >
        <td>{{ token.tokenId }}</td>
        <td><img src="assets/images/neo.png" height="20" /></td>
        <td>{{ token.type }}</td>
        <td>${{ token.strike / 100000000 | number: '1.2-2' }}</td>
        <td>
          <div class="flex align-items-center">
            ${{ token.stake / 1000000000 | number: '1.0-0' }}
            <img src="assets/images/candy.png" height="20" class="ml-2" />
          </div>
        </td>
        <td>{{ token.owner | truncateAddress }}</td>
        <td>{{ token.writer | truncateAddress }}</td>
        <td>
          <div class="flex justify-content-end">
            <button
              pButton
              label="Update"
              icon="pi pi-pencil"
              class="p-button-outlined mr-2"
            ></button>
            <button
              pButton
              label="Claim"
              icon="pi pi-arrow-circle-down"
              class="p-button-outlined mr-2"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
<section *ngIf="address" class="mt-5">
  <p-table
    [value]="minted"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="caption">Minted Options </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Asset</th>
        <th>Type</th>
        <th>Strike</th>
        <th>Stake</th>
        <th>Owner</th>
        <th>Writer</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-token>
      <tr
        [ngClass]="{
          'highlight-row':
            (token.strike / 100000000 < neoPrice && token.type === 1) ||
            (token.strike / 100000000 > neoPrice && token.type === 2)
        }"
      >
        <td>{{ token.tokenId }}</td>
        <td><img src="assets/images/neo.png" height="20" /></td>
        <td>{{ token.type }}</td>
        <td>${{ token.strike / 100000000 | number: '1.2-2' }}</td>
        <td>
          <div class="flex align-items-center">
            ${{ token.stake / 1000000000 | number: '1.0-0' }}
            <img src="assets/images/candy.png" height="20" class="ml-2" />
          </div>
        </td>
        <td>{{ token.owner | truncateAddress }}</td>
        <td>{{ token.writer | truncateAddress }}</td>
        <td>
          <div class="flex justify-content-end">
            <button
              *ngIf="token.owner === token.writer"
              pButton
              label="Update"
              icon="pi pi-pencil"
              class="p-button-outlined mr-2"
            ></button>
            <button
              *ngIf="token.owner === token.writer"
              pButton
              label="Claim"
              icon="pi pi-arrow-circle-down"
              class="p-button-outlined mr-2"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section> -->
