<ng-container *ngIf="state$ | async as s">
  <div class="flex justify-content-between align-items-center ml-3 mr-3">
    <div>
      <h1 class="cursor-pointer" routerLink="/markets">CanDEFI</h1>
    </div>
    <div>
      <ng-container *ngIf="s.address; else connect">
        <button
          pButton
          icon="pi pi-user"
          class="p-button-text p-button-secondary"
          routerLink="profile"
        ></button>
        <button
          pButton
          pRipple
          [icon]="s.isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-copy'"
          class="p-button-text"
          type="button"
          label="{{ s.address | truncateAddress }}"
        ></button>
      </ng-container>
      <ng-template #connect>
        <button
          pButton
          pRipple
          class="p-button-outlined"
          type="button"
          (click)="connectWallet()"
          label="Connect Wallet"
        ></button>
      </ng-template>
    </div>
  </div>
  <div class="flex justify-content-center align-items-center p-1 topbar">
    <span class="text-xs mr-4">NEO: ${{ s.neoPrice }}</span>
    <span class="text-xs mr-4">GAS: ${{ s.gasPrice | number: '1.8-8' }}</span>
    <span class="text-xs">CANDY: ${{ s.candyPrice | number: '1.9-9' }}</span>
  </div>
</ng-container>

<p-menubar [model]="items"></p-menubar>
