<ng-container *ngIf="state$ | async as s">
  <p-panel header="Basic">
    <p-table [value]="[s.token]" responsiveLayout="scroll">
      <ng-template pTemplate="body" let-token>
        <tr>
          <td>ID</td>
          <td class="text-right">{{ token.tokenId }}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td class="text-right">{{ token.type }}</td>
        </tr>
        <tr>
          <td>Stake</td>
          <td class="text-right">{{ token.stake | number: '1.0-0' }} CANDY</td>
        </tr>

        <tr>
          <td>Strike</td>
          <td class="text-right">${{ token.strike | number: '1.2-2' }}</td>
        </tr>
      </ng-template>
    </p-table> </p-panel
  ><br />
  <p-panel header="Advanced" *ngIf="s.token.leverage > 0">
    <p-table [value]="[s.token]" responsiveLayout="scroll">
      <ng-template pTemplate="body" let-token>
        <tr>
          <td>Value</td>
          <td class="text-right">{{ token.value | number: '1.0-0' }} CANDY</td>
        </tr>

        <tr>
          <td>Time Decay</td>
          <td class="text-right">{{ token.timeDecay }}</td>
        </tr>
        <tr>
          <td>Leverage</td>
          <td class="text-right">{{ token.leverage }}</td>
        </tr>

        <tr>
          <td>Safe</td>
          <td>
            <div class="text-right">
              <p-checkbox
                [ngModel]="token.safe"
                [binary]="true"
                [readonly]="true"
              ></p-checkbox>
            </div>
          </td>
        </tr>
      </ng-template> </p-table></p-panel
  ><br />
  <p-panel header="Renting">
    <p-table [value]="[s.token]" responsiveLayout="scroll">
      <ng-template pTemplate="body" let-token>
        <tr>
          <td>Duration</td>
          <td class="text-right">
            {{ token.listing.minMinutes / 60 / 24 }} -
            {{ token.listing.maxMinutes / 60 / 24 }} days
          </td>
        </tr>
        <tr>
          <td>Daily fee</td>
          <td class="text-right">
            {{ token.listing.gasPerMinute * 60 * 24 | number: '1.2-2' }} GAS
          </td>
        </tr>
        <tr>
          <td>Collateral</td>
          <td class="text-right">
            {{ token.listing.collateral | number: '1.2-2' }} GAS
          </td>
        </tr>
      </ng-template>
    </p-table></p-panel
  >

  <div class="mt-5">
    <form [formGroup]="formGroup" (ngSubmit)="startRenting()">
      <div class="flex justify-content-end mb-5">
        <div>
          <input type="text" pInputText [value]="duration + ' days'" readonly />
          <div style="width: 223px">
            <p-slider
              formControlName="duration"
              [min]="s.token.listing.minMinutes / 24 / 60"
              [max]="s.token.listing.maxMinutes / 24 / 60"
            ></p-slider>
          </div>
        </div>
      </div>

      <p-panel header="Payment Overview">
        <p-table [value]="[s.token]" responsiveLayout="scroll">
          <ng-template pTemplate="body" let-token>
            <tr>
              <td>Collateral</td>
              <td class="text-right">
                {{ token.listing.collateral | number: '1.2-2' }} GAS
              </td>
            </tr>
            <tr>
              <td>Renting fee</td>
              <td class="text-right">
                {{
                  token.listing.gasPerMinute * 60 * 24 * duration
                    | number: '1.2-2'
                }}
                GAS
              </td>
            </tr>
            <tr class="font-bold">
              <td>Total</td>
              <td class="text-right">
                {{
                  token.listing.collateral +
                    token.listing.gasPerMinute * 60 * 24 * duration
                    | number: '1.2-2'
                }}
                GAS
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>

      <div class="mt-3">
        <div class="text-right">
          <p-checkbox [binary]="true" formControlName="agreement"></p-checkbox>
          <span class="ml-2">I understand the <a href="">risks</a></span>
        </div>

        <div class="flex justify-content-between flex-wrap">
          <button
            pButton
            label="Profit Calculator"
            class="mt-3 p-button-outlined"
            icon="pi pi-sliders-v"
            type="button"
          ></button>
          <button
            pButton
            label="Confirm"
            class="mt-3"
            icon="pi pi-check"
            type="submit"
            [disabled]="!formGroup.valid"
          ></button>
        </div>
      </div>
    </form>
  </div>
</ng-container>
