@import '@fontsource/questrial';
//@import '@fontsource/open-sans';

html,
body {
  background-color: var(--surface-b);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: 'Questrial';
  .p-component {
    font-family: 'Questrial' !important;
  }
}

a { color: inherit; }

.loading-icon-dark-mode {
  filter: invert(90%) sepia(22%) saturate(0%) hue-rotate(305deg) brightness(110%) contrast(100%);
}
