<section id="hero" style="position: relative">
  <div
    class="container flex flex-column text-white justify-content-center text-center text-2xl p-4"
  >
    <div class="flex w-full flex-wrap justify-content-center">
      <div id="neo" class="mr-4">NEO</div>

      <div class="flex flex-column align-items-start text-left">
        <div id="candy" class="font-semibold">CANDY</div>
        <div class="text-3xl" class="container-subtext">
          Welcome to the sweetest project in the crypto space. Fill up your
          candy bags and join us in the metaverse!
        </div>
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1637331594">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</section>
<section id="features">
  <div class="features-section flex flex-column align-items-center">
    <h1>Why should you become a candy head?</h1>
    <div class="grid mt-5" style="width: 70%">
      <div
        class="col-12 md:col-6 lg:col-4 flex flex-column align-items-center text-center text-xl"
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/fallschirm.png" width="100" />
          </div>
          <p>Weekly NeoCandy giveaways and quizzes</p>
        </div>
      </div>

      <div
        class="col-12 md:col-6 lg:col-4 flex flex-column align-items-center text-center text-xl"
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/sweets.png" width="100" />
          </div>
          <p>There is enough FREE candy for everyone!</p>
        </div>
      </div>

      <div
        class="col-12 md:col-6 lg:col-4 flex flex-column align-items-center text-center text-xl"
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/united.png" width="100" />
          </div>
          <p>Collaborations with many other projects</p>
        </div>
      </div>
      <div
        class="col-12 md:col-6 lg:col-4 flex flex-column align-items-center text-center text-xl"
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/celebration.png" width="100" />
          </div>
          <p>Comes with fun games to play.</p>
        </div>
      </div>

      <div
        class="col-12 md:col-6 lg:col-4 flex flex-column align-items-center text-center text-xl"
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/thumbs-up.png" width="100" />
          </div>
          <p>Can be consumed without nasty side effects</p>
        </div>
      </div>

      <div
        class="col-12 md:col-6 lg:col-4 flex flex-column align-items-center text-center text-xl"
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/profits.png" width="100" />
          </div>
          <p>Offers unique DeFi utilities</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="get-candy" style="position: relative">
  <div class="custom-shape-divider-top-1637408466">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V6c0,21.6,291,111.46,741,110.26,445.39,3.6,459-88.3,459-110.26V0Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="free-candy-container">
    <div class="flex flex-column align-items-center text-center">
      <div style="width: 70%">
        <h1>Get NeoCandy</h1>
        <p class="text-xl">
          The easiest way is to join our discord and use the candy-factory which
          acts as a faucet. We host weekly quizzes and giveaways in our discord.
          We also try to do regular airdrops. From time to time, we have special
          events on our social media that let you earn extra candy.
        </p>
        <p class="text-xl">
          You can also trade $CANDY on
          <a href="https://flamingo.finance" class="text-white"
            >flamingo.finance</a
          >
        </p>
      </div>
      <div class="grid p-fluid p-5 mb-5">
        <div class="col-12 md:col-6">
          <button
            pButton
            icon="pi pi-discord"
            label="Discord"
            class="p-button text-xl"
            (click)="openDiscord()"
          ></button>
        </div>
        <div class="col-12 md:col-6">
          <button
            pButton
            icon="pi pi-twitter"
            label="Twitter"
            class="p-button text-xl"
            (click)="openTwitter()"
          ></button>
        </div>
        <div class="col-12 md:col-6">
          <button
            pButton
            label="Reddit"
            icon="pi pi-reddit"
            class="p-button text-xl"
            (click)="openReddit()"
          ></button>
        </div>
        <div class="col-12 md:col-6">
          <button
            pButton
            label="Telegram"
            icon="pi pi-telegram"
            class="p-button text-xl"
            (click)="openTelegram()"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="nfts-container" id="nfts">
    <div class="flex flex-column align-items-center text-center">
      <div style="width: 70%">
        <h1>Lollipop NFT collection</h1>
        <p class="text-xl">
          LOLLI is a collection of 222 unique lollipop NFTs on the Neo N3
          blockchain. LOLLI NFT holders can participate in exclusive events, NFT
          claims, airdrops, giveaways, and more.
        </p>

        <div>
          <p-carousel
            [circular]="true"
            [value]="[1, 2, 3, 4, 5, 6, 7, 8, 9]"
            [numVisible]="4"
            [numScroll]="1"
            [responsiveOptions]="responsiveCarouselOptions"
          >
            <ng-template let-nft pTemplate="item">
              <div>
                <img
                  style="max-width: 270px"
                  [src]="'assets/nfts/' + nft + '.png'"
                />
              </div>
            </ng-template>
          </p-carousel>
          <div class="mb-5 mt-2">
            <p>Buy NFTs on...</p>
            <button
              pButton
              label="GhostMarket"
              class="text-xl mr-2 p-button-outlined"
              (click)="openGhostmarket()"
            ></button>
            <button
              pButton
              label="SkyHut"
              class="text-xl p-button-outlined"
              (click)="openSkyhut()"
            ></button>
          </div>
          <div
            class="flex flex-column justify-content-center text-left text-xl"
          >
            <p-tabView
              ><p-tabPanel header="Mint " leftIcon="pi pi-play">
                <p-table [value]="[1]" responsiveLayout="scroll">
                  <ng-template pTemplate="caption">
                    <div
                      class="flex justify-content-between flex-wrap align-items-center"
                    >
                      <div>Current Supply: {{ currentSupply }}/222</div>
                      <div>
                        Current Price:
                        {{ currentPrice / 1000000000 | number: '1.0-0' }} CANDY
                      </div>
                      <ng-container *ngIf="address.length > 0; else connect">
                        <div>
                          <button
                            pButton
                            icon="pi pi-plus"
                            class="p-button-outlined p-button-rounded"
                            [disabled]="
                              mintingPaused === 0 || currentSupply === 222
                            "
                            (click)="mint()"
                          ></button>
                          <button
                            pButton
                            [icon]="
                              isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-copy'
                            "
                            class="p-button-text"
                            type="button"
                            label="{{ address | truncateAddress }}"
                          ></button>
                        </div>
                      </ng-container>
                      <ng-template #connect>
                        <button
                          pButton
                          class="p-button-outlined"
                          type="button"
                          icon="pi pi-sign-in"
                          (click)="connectWallet()"
                          label="Connect Wallet"
                        ></button>
                      </ng-template>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="body" let-mint>
                    <tr>
                      <td>1 - 10</td>
                      <td colspan="3">
                        Reserved for
                        <a
                          href="https://skyhut.app/user/NL9rE9ZZcTxS1wbzogHoHpfeFjfMX33hr6/Created"
                          >NeoCandy Skyhut NFTs</a
                        >
                        owners to trade it for a Lollipop NFT
                        <small>(valid until 01.01.2023)</small>
                      </td>
                    </tr>
                    <tr>
                      <td>11 - 22</td>
                      <td>Reserved for giveaways</td>
                      <td>23 - 50</td>
                      <td>
                        <div class="flex justify-align-center">
                          <div class="mr-1" style="margin-left: 11px">
                            500'000
                          </div>
                          <img width="20px" src="assets/ui/candy.png" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>51 - 100</td>
                      <td>
                        <div class="flex justify-align-center">
                          <div class="mr-1">1'000'000</div>
                          <img width="20px" src="assets/ui/candy.png" />
                        </div>
                      </td>
                      <td>101-150</td>
                      <td>
                        <div class="flex justify-align-center">
                          <div class="mr-1">1'250'000</div>
                          <img width="20px" src="assets/ui/candy.png" />
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>151-200</td>
                      <td>
                        <div class="flex justify-align-center">
                          <div class="mr-1">1'500'000</div>
                          <img width="20px" src="assets/ui/candy.png" />
                        </div>
                      </td>
                      <td>201-218</td>
                      <td>
                        <div class="flex justify-align-center">
                          <div class="mr-1">2'000'000</div>
                          <img width="20px" src="assets/ui/candy.png" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>219-220</td>
                      <td>
                        <div class="flex justify-align-center">
                          <div class="mr-1">3'000'000</div>
                          <img width="20px" src="assets/ui/candy.png" />
                        </div>
                      </td>
                      <td>221-222</td>
                      <td>
                        <div class="flex justify-align-center">
                          <div class="mr-1">4'000'000</div>
                          <img width="20px" src="assets/ui/candy.png" />
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-tabPanel>
              <p-tabPanel header="Utilities" leftIcon="pi pi-heart">
                <p-table [value]="utilities">
                  <ng-template pTemplate="body" let-utility>
                    <tr>
                      <td>{{ utility }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-tabPanel>

              <p-tabPanel
                header="Get an NFT in the discord"
                leftIcon="pi pi-discord"
              >
                Besides minting, you can trade your candy-factory stack for an
                NFT. You will require
                <span class="text-lg font-semibold">50'000</span> candies in
                your stack to trade it against a random NFT. Once you have
                accumulated enough candies, send the NeoCandy team in the
                discord a private message.
                <p>
                  <b>IMPORTANT:</b> The NeoCandy team will NEVER text you first.
                </p>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="games" style="position: relative">
  <div
    class="games-container flex flex-column align-items-center text-center pt-7"
  >
    <div style="width: 70%">
      <h1>Games</h1>
      <p class="text-xl text-white">
        We are developing multiple games. These games allow you to spend and
        earn CANDY. Some of the games can be played on the official discord
        server. Others can be played in the browser. Below you can find a list
        of games that are currently under development.
      </p>
      <p-divider></p-divider>

      <div class="grid game">
        <div class="col">
          <img src="assets/games/villager.png" width="200px" />
        </div>

        <div class="col-12 md:col-8 text-white">
          <div
            class="flex flex-column justify-content-between align-items-center"
          >
            <div class="text-3xl font-bold mb-4 text-center">Candyclash</div>
            <div class="text-lg game-desc text-center">
              Candyclash is a risk-based NFT staking game coming to NEO N3. It
              combines fun candy art with utility-focused NFT & DeFi features,
              like stealing or taxing other NFTs. In Candyclash, you can build
              your collection of villagers or villains and passively earn
              NeoCandy!
            </div>
            <div class="mt-3">
              <button
                pButton
                label="Learn"
                class="mr-3"
                icon="pi pi-question-circle"
                (click)="openCandyclash()"
              ></button>
              <button
                pButton
                label="Play"
                icon="pi pi-play"
                (click)="openCandyclashAlpha()"
              ></button>
            </div>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="grid mb-5 game">
        <div class="col">
          <img src="assets/games/candy-house.png" width="200px" />
        </div>

        <div class="col-12 md:col-8 text-white">
          <div
            class="flex flex-column justify-content-between align-items-center"
          >
            <div class="text-3xl font-bold mb-4">Candyland</div>
            <div class="text-lg game-desc">
              Candyland is a 2D pixel-art multiplayer browser game where players
              can buy their plot of land, build a village, chat with other
              players, play games, stake candies, and much more.
            </div>
            <div class="mt-3">
              <button
                pButton
                label="Learn"
                class="mr-3"
                icon="pi pi-question-circle"
                (click)="openCandyland()"
              ></button>
              <button
                pButton
                label="Play"
                icon="pi pi-play"
                [disabled]="true"
              ></button>
            </div>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="grid mb-5 game">
        <div class="col">
          <img src="assets/games/discord-games.png" width="200px" />
        </div>
        <div class="col-12 md:col-8 text-white">
          <div
            class="flex flex-column justify-content-between align-items-center"
          >
            <div class="text-3xl font-bold mb-4">Discord Candy Games</div>
            <div class="text-lg game-desc">
              In the NeoCandy discord server, you can participate in several
              minigames. Playing minigames earns you candy that is added to your
              candy-factory stack.
            </div>
            <div class="mt-3">
              <button
                pButton
                label="Learn"
                class="mr-3"
                icon="pi pi-question-circle"
                (click)="openDiscord()"
              ></button>
              <button
                pButton
                label="Play"
                icon="pi pi-play"
                (click)="openDiscord()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="faq" style="position: relative">
  <div class="custom-shape-divider-top-1637605853">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="flex flex-column align-items-center text-center faq-container">
    <div style="width: 70%">
      <h1>FAQ</h1>
      <div class="mb-7 mt-5 text-left">
        <p-accordion styleClass="nc-accordion">
          <p-accordionTab header="What is the total supply?">
            The total supply is 9 billion. 1 billion for each N3 major feature.
          </p-accordionTab>
          <p-accordionTab header="Is the NeoCandy project open source?">
            Yes, all our contracts are open-source and can be checked by anyone
            on <a href="https://github.com/neo-candy/">github</a>
          </p-accordionTab>
          <p-accordionTab header="How do I contact the NeoCandy team?">
            The easiest way to contact the NeoCandy Team is through discord.
          </p-accordionTab>
          <p-accordionTab header="What is the current circulating supply?">
            The circulating supply and more information about tokenomics can be
            found in our
            <a href="https://docs.neocandy.io">whitepaper</a>.
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
</section>
<section id="social">
  <div
    class="socials-container flex flex-column align-items-center text-center"
  >
    <div style="width: 70%">
      <h1>Join the NeoCandy community!</h1>
    </div>
    <div class="grid p-fluid p-5 mb-5">
      <div class="col-12 md:col-6">
        <button
          pButton
          icon="pi pi-discord"
          label="Discord"
          class="p-button text-xl"
          (click)="openDiscord()"
        ></button>
      </div>
      <div class="col-12 md:col-6">
        <button
          pButton
          icon="pi pi-twitter"
          label="Twitter"
          class="p-button text-xl"
          (click)="openTwitter()"
        ></button>
      </div>
      <div class="col-12 md:col-6">
        <button
          pButton
          label="Reddit"
          icon="pi pi-reddit"
          class="p-button text-xl"
          (click)="openReddit()"
        ></button>
      </div>
      <div class="col-12 md:col-6">
        <button
          pButton
          label="Telegram"
          icon="pi pi-telegram"
          class="p-button text-xl"
          (click)="openTelegram()"
        ></button>
      </div>
    </div>
  </div>
</section>
