<section id="hero" style="position: relative">
  <div
    class="
      container
      flex flex-column
      text-white
      justify-content-center
      text-center text-2xl
      p-4
    "
  >
    <div class="flex w-full flex-wrap justify-content-center">
      <div id="neo" class="mr-4">NEO</div>

      <div class="flex flex-column align-items-start text-left">
        <div id="candy" class="font-semibold">CANDY</div>
        <div class="text-3xl" class="container-subtext">
          Neo Candy is a community token on the
          <span class="font-bold text-2xl">#NEO</span> blockchain. This project
          invites and rewards people for interacting with DAPPS in the
          <span class="font-bold text-2xl">#N3</span>
          ecosystem. Get started now and grab your free 🍬
        </div>
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1637331594">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</section>
<section id="features">
  <div class="features-section flex flex-column align-items-center">
    <h1>Key Features</h1>
    <div class="grid mt-5" style="width: 70%">
      <div
        class="
          col-12
          md:col-6
          lg:col-4
          flex flex-column
          align-items-center
          text-center text-xl
        "
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/fallschirm.png" width="100" />
          </div>
          <p>Weekly Neo Candy airdrops, giveaways and contests</p>
        </div>
      </div>

      <div
        class="
          col-12
          md:col-6
          lg:col-4
          flex flex-column
          align-items-center
          text-center text-xl
        "
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/sweets.png" width="100" />
          </div>
          <p>There is enough free candy for everyone!</p>
        </div>
      </div>

      <div
        class="
          col-12
          md:col-6
          lg:col-4
          flex flex-column
          align-items-center
          text-center text-xl
        "
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/united.png" width="100" />
          </div>
          <p>Supports other projects on N3</p>
        </div>
      </div>
      <div
        class="
          col-12
          md:col-6
          lg:col-4
          flex flex-column
          align-items-center
          text-center text-xl
        "
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/celebration.png" width="100" />
          </div>
          <p>Comes with fun games to play</p>
        </div>
      </div>

      <div
        class="
          col-12
          md:col-6
          lg:col-4
          flex flex-column
          align-items-center
          text-center text-xl
        "
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/thumbs-up.png" width="100" />
          </div>
          <p>Can be consumed without nasty side effects</p>
        </div>
      </div>

      <div
        class="
          col-12
          md:col-6
          lg:col-4
          flex flex-column
          align-items-center
          text-center text-xl
        "
      >
        <div class="w-10 flex flex-column align-items-center">
          <div class="feature">
            <img src="assets/features/community.png" width="100" />
          </div>
          <p>Strengthens and grows the NEO community</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="free-candy" style="position: relative">
  <div class="custom-shape-divider-top-1637408466">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V6c0,21.6,291,111.46,741,110.26,445.39,3.6,459-88.3,459-110.26V0Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="free-candy-container">
    <div class="flex flex-column align-items-center text-center">
      <div style="width: 70%">
        <h1>Get free Candy</h1>
        <p class="text-xl">
          There are several ways on how to get your free candy. The easiest way
          is by joining the official Neo Candy social media channels such as
          Discord, Twitter, Telegram, or Reddit. Then you can participate in
          random airdrops, giveaways, and contests, which happen very
          frequently. There is also a rumor that if you ask the Neo Candy Team
          on Discord nicely, they will send you some.
        </p>
      </div>
      <div class="grid p-fluid p-5 mb-5">
        <div class="col-12 md:col-6">
          <button
            pButton
            icon="pi pi-discord"
            label="Discord"
            class="p-button text-xl"
            (click)="openDiscord()"
          ></button>
        </div>
        <div class="col-12 md:col-6">
          <button
            pButton
            icon="pi pi-twitter"
            label="Twitter"
            class="p-button text-xl"
            (click)="openTwitter()"
          ></button>
        </div>
        <div class="col-12 md:col-6">
          <button
            pButton
            label="Reddit"
            icon="pi pi-reddit"
            class="p-button text-xl"
            (click)="openReddit()"
          ></button>
        </div>
        <div class="col-12 md:col-6">
          <button
            pButton
            label="Telegram"
            icon="pi pi-telegram"
            class="p-button text-xl"
            (click)="openTelegram()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="games" style="position: relative">
  <div class="games-container flex flex-column align-items-center text-center">
    <div style="width: 70%">
      <h1>Games</h1>
      <p class="text-xl">
        Use your Neo Candy and participate in multiple fun minigames that allow
        you to spend your candy or earn even more. In this section, you can find
        games that are currently under development. If you have an idea for a
        new game, please contact the Neo Candy team. Developing your own game
        for the community will be rewarded.
      </p>
      <div class="grid mt-5">
        <div
          class="
            col-12
            md:col-6
            lg:col-4
            flex flex-column
            align-items-center
            justify-content-between
          "
        >
          <div class="game-icon flex p-2">
            <img src="assets/games/dice.png" width="150" />
          </div>
          <p>
            <span id="gamename">Candice</span> is a quick two-player dice game.
            Both players stake an amount of candy and then roll the dice. The
            player who rolls the higher number wins the stake.
          </p>
          <button pButton label="Coming in Q1 2022"></button>
        </div>
        <div
          class="
            col-12
            md:col-6
            lg:col-4
            flex flex-column
            align-items-center
            min-h-auto
            justify-content-between
          "
        >
          <div class="game-icon flex p-2">
            <img src="assets/games/lottery.png" width="150" height="150" />
          </div>
          <p>
            Participate in the <span id="gamename">Candy Lottery</span> by
            buying a ticket with Neo Candy. You can buy as many tickets as you
            wish to increase your chance of winning the Neo Candy Jackpot.
          </p>
          <button pButton label="Coming in Q1 2022"></button>
        </div>
        <div
          class="
            col-12
            md:col-6
            lg:col-4
            flex flex-column
            align-items-center
            justify-content-between
          "
        >
          <div class="game-icon flex p-2">
            <img src="assets/games/candies.png" width="150" height="150" />
          </div>
          <p>
            Dive into <span id="gamename">Candyland</span>, a fun and
            competitive browsergame with staking mechanics to earn candy
            interest. More informations will follow.
          </p>
          <button pButton label="Coming in 2022"></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="faq" style="position: relative">
  <div class="custom-shape-divider-top-1637605853">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="flex flex-column align-items-center text-center faq-container">
    <div style="width: 70%">
      <h1>FAQ</h1>
      <div class="mb-7 mt-5 text-left">
        <p-accordion styleClass="nc-accordion">
          <p-accordionTab header="What is Neo Candy?">
            Neo Candy is a project which utilizes a NEP-17 token with the same
            name to attract more people to the N3 ecosystem and reward them for
            interacting with different Neo DAPPS. The idea is that people will
            get free Neo Candy when participating in events from other N3
            projects. Additionally, Neo Candy is a community token, meaning that
            everyone can participate and receive their free share of Neo Candy.
            But just holding a token in their wallet with no further use is not
            very much fun. Therefore, many games are currently under development
            that let Neo Candy holders spend their candy in a fun way. In
            addition, some games will also introduce the player to essential
            <a href="https://www.coinbase.com/learn/crypto-basics/what-is-defi"
              >defi</a
            >
            elements.
          </p-accordionTab>
          <p-accordionTab header="What is the total supply?">
            The total supply is 9 billion. 1 billion for each N3 major feature.
          </p-accordionTab>
          <p-accordionTab header="How do I get Neo Candy?">
            Neo Candy is distributed free and fair through airdrops, contests,
            giveaways, tipbots/competitions, and games. Keep an eye on current
            announcements on our social media.
          </p-accordionTab>
          <p-accordionTab header="Where can I buy Neo Candy?">
            Neo Candy can't be bought anywhere at the moment.
          </p-accordionTab>
          <p-accordionTab header="Is the Neo Candy project open source?">
            Yes, Neo Candy is an open source project. If you are curious about
            the code, you can take a look at our
            <a href="https://github.com/neo-candy/">github repositores</a>.
          </p-accordionTab>
          <p-accordionTab header="How can I support this project?">
            Firstly you can always support this project by spreading the word
            about how amazing the free Neo Candy is! Neo Candy is also looking
            for community managers/moderators on our social media. Additionally,
            if you are a developer and want to contribute somehow, contact the
            Neo Candy team on discord.
          </p-accordionTab>
          <p-accordionTab header="How do I contact the Neo Candy team?">
            The easiest way to contact the Neo Candy Team is through discord.
          </p-accordionTab>
          <p-accordionTab header="Where can I find the whitepaper?">
            Neo Candy has no whitepaper yet, but there is currently one in
            progress and will be finished approximately early next year, 2022.
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
</section>
<section id="social">
  <div
    class="socials-container flex flex-column align-items-center text-center"
  >
    <div style="width: 70%">
      <h1>Join the Neo Candy Community!</h1>
    </div>
    <div class="grid p-fluid p-5 mb-5">
      <div class="col-12 md:col-6">
        <button
          pButton
          icon="pi pi-discord"
          label="Discord"
          class="p-button text-xl"
          (click)="openDiscord()"
        ></button>
      </div>
      <div class="col-12 md:col-6">
        <button
          pButton
          icon="pi pi-twitter"
          label="Twitter"
          class="p-button text-xl"
          (click)="openTwitter()"
        ></button>
      </div>
      <div class="col-12 md:col-6">
        <button
          pButton
          label="Reddit"
          icon="pi pi-reddit"
          class="p-button text-xl"
          (click)="openReddit()"
        ></button>
      </div>
      <div class="col-12 md:col-6">
        <button
          pButton
          label="Telegram"
          icon="pi pi-telegram"
          class="p-button text-xl"
          (click)="openTelegram()"
        ></button>
      </div>
    </div>
  </div>
</section>
