<div
  class="container flex flex-column justify-content-center align-items-center"
>
  <div
    class="hero flex flex-column text-white justify-content-center align-items-center"
  >
    <h1>Stake $CANDY - get even more $CANDY</h1>
    <h3>
      You can get your free daily dose of $CANDY from the faucet in the official
      NeoCandy discord. You can stake $CANDY to increase the payout.
    </h3>
  </div>
  <div
    class="flex staking-panel"
    [ngClass]="{
      tier1bg: tier === 1,
      tier2bg: tier === 2,
      tier3bg: tier === 3
    }"
  >
    <div
      class="tier flex flex-column justify-content-center align-items-center"
      id="tier1"
      (click)="tier = 1"
    >
      <div>CANDY HEAD</div>
      <div>500.000 $CANDY</div>
      <div>90d lockup</div>
      <div>1.5x multiplier</div>
    </div>
    <div
      class="tier flex flex-column justify-content-center align-items-center"
      id="tier2"
      (click)="tier = 2"
    >
      <div>CANDY ADDICT</div>
      <div>2.000.000 $CANDY</div>
      <div>180d lockup</div>
      <div>2x multiplier</div>
    </div>
    <div
      class="tier flex flex-column justify-content-center align-items-center"
      id="tier3"
      (click)="tier = 3"
    >
      <div>CANDY MANIAC</div>
      <div>10.000.000 $CANDY</div>
      <div>360d lockup</div>
      <div>3x multiplier</div>
    </div>
  </div>
</div>
